<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"   href="/css/styles.css">

    <title>Main</title>
</head>
<body>
<div class="topnav">
    <a class="active" href="/views/profile.ejs">Profile</a>
    <a href="/views/donations.ejs">Donations</a>
    <a href="/views/main.ejs">Main</a>
    <a href="/views/desc.ejs">About Us</a>
</div>
<a href="/views/i.ejs">
<img alt="Amirkhan" src="/js/images/Plat.jpg">  </a>
</body>
</html>