<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="topnav">
    <a class="active" href="/profile.ejs">Profile</a>
    <a href="/views/register.ejs">Register</a>
    <a href="/views/donations.ejs">Donations</a>
    <a href="/views/main.ejs">Main</a>
    <a href="/views/desc.ejs">About Us</a>
</div>
</body>
</html>